* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flexCenter {
    gap: 10px !important;
}
.flexCenter h5 {
    margin: 0 !important;
}
.flexCenter:hover {
    cursor: pointer;
    background-color: #aaa !important;
}

.activeClass {
    font-weight: bolder;
}
.centerButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px !important;
    margin-top: 10px;
}
