.buttonBackGroundGradientBlackToRedWithAnimation  {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(255, 0, 0, 1) 100%
    );
    animation: gradient 3s ease infinite;
    border-radius: 10px;
    color: aliceblue;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
